body,
html {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.body {
    
    position: relative;
    min-width: 800px;
}

/* Universal css */

.h1-fontsize {
    font-size: 70px;
}

.white {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.margin {
    margin: 0;
}

.font-size {
    font-size: 30px;
}

/* modal */

#modal {
    position: fixed;
    z-index: 2;
    top: 45%;
    bottom: 45%;
    left: 30%;
    right: 30%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-flex {
    text-align: center;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4em 5em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/movie-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.nav-link {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* movie-container section */

.main-content {
    padding: 3em 5em;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 313px;
    padding: 0 5em;
    width: 100%;
    box-sizing: border-box;
}

.search-btn {
    padding: 0 3em;
    border-radius: 0px 10px 10px 0px
}

.search-input {
    width: 100%;
    padding: 1.5em 0;
    background-image: url(../img/icon-img.png);
    background-repeat: no-repeat;
    background-position: 2px;
    background-color: white;
    padding-left: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px 0px 0px 10px
}

.search-input:focus {
    outline: none;
    background-color: white;
}

.search-input:hover {
    background-color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    padding: 2em 0;
    border-bottom: 2px solid rgba(200, 197, 197, 0.464);
}

.movie-container {
    display: flex;
    flex-direction: column;
}

.movie-content-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 50px  75px 125px;
    grid-template-areas:
        " name rate ."
        " time genr btnn"
        " summ summ summ";
    gap: 1.5em;
    padding: 0 0 0 3em;
    align-items: center;
    margin: auto;
}

.name {
    grid-area: name;
    font-size: 40px;
}

.rate {
    grid-area: rate;
}

.time {
    grid-area: time;
}

.genre {
    grid-area: genr;
}

.watchlist-btn {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    margin-right: 5px;
}

.remove-btn {
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    border: none;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    margin-right: 5px;
}

.btn {
    grid-area: btnn;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summ {
    grid-area: summ;
}

.catch-err-message {
    text-align: center;
    font-size: 30px;
    color: rgba(211, 211, 211, 0.745);
    margin: 0 auto;
    width: 50%;
    margin-top: 4em;
}

/* images */

.movie-img {
    width: 350px;
}